---
const SKILLS = [
  { name: "JavaScript", logo: "javascript.svg" },
  { name: "Python", logo: "python.svg" },
  { name: "C#", logo: "csharp.svg" },
  { name: "MongoDB", logo: "mongodb.svg" },
  { name: "Astro", logo: "astro" },
  { name: "Node.js", logo: "nodejs.svg" },
  { name: "MySQL", logo: "mysql.svg" },
  { name: "HTML", logo: "html5.svg" },
  { name: "CSS", logo: "css_old.svg" },
  { name: "Tailwind", logo: "tailwindcss.svg" },
  { name: "Git", logo: "git.svg" },
  { name: "C++", logo: "c-plusplus.svg" },

];

---

<article class="flex flex-col items-start gap-4">
  <p class="text-gray-600 dark:text-gray-400">
    ¡Hola! Soy <span class="font-semibold text-blue-600 dark:text-blue-400">Roberto Cano Estévez</span>, de Almodóvar del Río (Córdoba). Estoy estudiando un <span class="underline"> grado superior de Desarrollo de Aplicaciones Web </span>, motivado por entender y crear las tecnologías que dan vida a internet.
  </p>
  
  <p class="text-gray-600 dark:text-gray-400">
    Mi pasión está en el <span class="underline">diseño de interfaces</span> y en desarrollar proyectos funcionales y bien estructurados, tanto en el frontend como en el backend. Disfruto experimentar, resolver problemas y llevar ideas a la realidad.
  </p>

  <p class="text-gray-600 dark:text-gray-400">
    Actualmente, me enfoco en crecer como <span class="font-semibold text-blue-600 dark:text-blue-400">desarrollador full-stack</span>, trabajando en proyectos propios y colaborativos. Estoy siempre abierto a nuevos retos y a seguir aprendiendo.
  </p>
</article>

  <div class="flex flex-col gap-4 mt-14 w-full">
    <h3 class="text-lg font-semibold">Habilidades principales</h3>
    <ul class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 xl:grid-cols-6 gap-6 justify-items-center w-full">
      {
        SKILLS.map((skill) => (
          <li class="flex flex-col items-center justify-center w-20 hover:scale-110 transition-transform">
            {
              skill.name === "Astro" ? (
                <>
                  <img 
                    src="/astro.svg" 
                    alt="Astro Light" 
                    class="w-12 h-12 object-contain mb-1 block dark:hidden"
                    loading="lazy"
                  />
                  <img 
                    src="/astro_dark.svg" 
                    alt="Astro Dark" 
                    class="w-12 h-12 object-contain mb-1 hidden dark:block"
                    loading="lazy"
                  />
                </>
              ) : (
                <img 
                  src={`/${skill.logo}`} 
                  alt={skill.name} 
                  class="w-12 h-12 object-contain mb-1" 
                  loading="lazy"
                />
              )
            }
            <span class="text-xs text-center text-gray-700 dark:text-gray-200">{skill.name}</span>
          </li>
        ))
      }
    </ul>
  </div>
</article>

