<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <img
        class="rounded-full h-32 w-32 mb-4 object-cover mx-auto"
        src="../public/images/roberto_optimizada.webp"
        alt="Tu foto"
      />
      <h1 class="text-4xl font-bold text-center mb-4">
        Roberto Cano Estévez
      </h1>
      <p class="text-xl text-center text-gray-600 dark:text-gray-300 mb-4">
        Desarrollador Full Stack
      </p>
      <p class="text-center text-gray-600 dark:text-gray-300 max-w-[600px]">
        Soy estudiante de Primer Año de Desarrollo de Aplicaciones Web. Me apasiona el mundo del desarrollo web y multiplataforma, las tecnologías emergentes y la programación en general. Estoy comprometido con aprender, crear proyectos innovadores y mejorar mis habilidades día a día.
      </p>
    </div>
  </div>