<div class="flex flex-col items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <img
      class="rounded-full h-32 w-32 mb-4 object-cover mx-auto"
      src="/roberto_optimizada.webp"
      alt="Tu foto"
    />
    <h1 class="text-4xl font-bold text-center mb-4">
      Roberto Cano Estévez
    </h1>
    <p class="text-xl text-center text-gray-600 dark:text-gray-300 mb-4">
      Desarrollador Full Stack
    </p>
    <p class="text-center text-gray-600 dark:text-gray-300 max-w-[600px] mb-6">
      Soy estudiante de Primer Año de Desarrollo de Aplicaciones Web. Me apasiona el mundo del desarrollo web y multiplataforma, las tecnologías emergentes y la programación en general. Estoy comprometido con aprender, crear proyectos innovadores y mejorar mis habilidades día a día.
    </p>
    
    <div class="flex gap-4 items-center">
      <a 
        href="mailto:rcanoestevez@proton.me" 
        class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition flex items-center gap-2"
      >
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          class="size-6" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round"
        >
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
        Contáctame
      </a>
      <a 
        href="https://www.linkedin.com/in/robertocanoe/" 
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 text-blue-500 hover:text-blue-600"
      >
        <svg 
          class="size-6" 
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 24 24" 
          fill="currentColor"
        >
          <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
        </svg>
        LinkedIn
      </a>
    </div>
  </div>
</div>